/* Created by Dream TV For Dream TV Background */
html,
body {
  padding: 0;
  margin: 0;
  position: relative;
}


.DreamTV {
width:30px;
 alignment-adjust:central;
 height:30px;
 position:fixed;
 left:10px;
 top:10px;
 }
 
/* Created by Dream TV For Playlist Buttons */

.button2 {width: 99%;}
.button {
    background-color: ##171515;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0s; /* Safari */
    transition-duration: 0s;
    cursor: pointer;
}

#581845
.button2 {
    background-color: #171515; 
    color: white; 
    border: 5px solid #FF0000;
}



.button2 {
    background-color: #171515; 
    color: white; 
    border: 1px solid #211F1F;
}

.button2:hover {
    background-color: #040000;
    color: white;
}



/* Created by Dream TV For Dream TV Background */
  body {
  
    background: #5C5C5C;
    
    color: #aaa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: radial-gradient(#000000, hsl(200,30%,6%) );

}
/* Created by Dream TV For Player Control Buttons */    
.buttoncontrols1 {
  display: inline-block;
  padding: 5px 7px;
  font-size: 10px;
  
}

.buttoncotrols1:hover {background-color: #5C5C5C}

.button:active {
  background-color: #5C5C5C;
  box-shadow:  #666;
  transform: translateY(2px);
}	


/* Created by Dream TV For Dream TV Player */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: #fff;
 
}

.container {
  display: flex;
  flex-direction: row;
  background: url('#') no-repeat center center/cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.animated {
  font-family: 'charm', cursive;
  margin: 0;
  padding: 0;
  font-size: 25px;
  background: url('https://i.postimg.cc/mgP1QCC8/dreamlogo1.png') no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveBg 40s linear infinite;
  -webkit-animation: moveBg 40s linear infinite;
}

/* Text Background Animation */
@keyframes moveBg {
  0% {
    background-position: 0% 30%;
  }

  100% {
    background-position: 100% 50%;
  }
}

  /* Copyright &copy; 2020,Dream TV All Rights Reserved. */
