#search{width:85%;
Height:30px;
text-align:center;
border:1px solid red;
border-radius:10px;
Padding:10px;}
.thumb{border-radius:100%;
margin:5px;margin-top:5px;}


.switch {
  position: relative;
  display: inline-block;
  width: auto;
  height:auto;
  
  
  border-radius:20px;
                  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;


}

            .rmp-time-total,.rmp-loaded,.rmp-handle,.rmp-current{
                border-radius:0px!important;
                display:none;
            }
            .rmp-time-elapsed,.rmp-duration{display:none;}
            
   .rewind{ position:fixed;

z-index: 999999;



  
	}
	
	.text-rainbow-animation {
  font-family:Cursive;
  font-size:14px;
  background-image: 
    linear-gradient(to right, red,orange,yellow,green,white,indigo,violet, red); 
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  animation: rainbow-animation 600s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}
/*rainbow*/
       .sagheeronline, .btn:hover {
        
        border-radius: 100%;
        
   }
    img{border:1px solid tomato;  padding: 0px; margin:0px; height:95px; width: 95px;} body{ background-color: #222;} 
/* Created by Dream TV For Dream TV Background */
html,
body {
  padding: 0;
  margin: 0;
  position: relative;
}


.DreamTV {
width:30px;
 alignment-adjust:central;
 height:30px;
 position:fixed;
 left:10px;
 top:10px;
 }
 
/* Created by Dream TV For Playlist Buttons */

.button2 {width: 95%;}
.button {
    background-color: #7C74CE;
    border: none;
    color: red;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 8px 2px;
    -webkit-transition-duration: 0s; /* Safari */
    transition-duration: 0s;
    
    
}



/* Created by Dream TV For Dream TV Background */
  body {
  
    background: #5C5C5C;
    
    color: #aaa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: radial-gradient(#000000, hsl(200,30%,6%) );

}
/* Created by Dream TV For Player Control Buttons */    
.buttoncontrols1 {

	display: inline-block;

	padding: 8px 25px;

	font-size: 10px;

	color:#FF1493;

	background:#FFFF00;

	border-radius:3px;

	border:1px solid #000000;

}



/* Created by Dream TV For Dream TV Player */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #222;
  color: #fff;
 
}

.container {
  display: flex;
  flex-direction: row;
  background: url('#') no-repeat center center/cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
}

  /* Copyright © 2020,Dream TV All Rights Reserved. */
